body{

font-family:Arial;

background:#f2f2f2;

margin:30px;

}

table{

width:100%;

border-collapse:collapse;

background:white;

}

th,td{

border:1px solid black;

padding:10px;

text-align:center;

}

/* Alternating row colors */

tr:nth-child(even){

background:#dff5ff;

}

.success{

background:lightgreen;

padding:10px;

margin-bottom:15px;

border:1px solid green;

}

.danger{

background:#ffb3b3;

padding:10px;

margin-bottom:15px;

border:1px solid red;

}

a{

text-decoration:none;

}